{% extends 'layout.html' %}

{% block head %}
<title>Password-Reset</title>
{% endblock %}

{% block body %}

  <div class="formTitleContainer">
    <h1 class="formTitle">Password Reset</h1>
  </div>
  <div class="bgColor">   
    <p id="passResetDesc">Enter the email associated with the account to begin the password reset process.</p>
    <form action="/forgotPass" method="POST" class="fridgeForm">
      <div class="form-group resetPass">
        <label class="changePasswordLabel">Email</label>
        <input type="email" name="email" class="form-control inputFieldProfile">
      </div>
      <div class="form-group submitPassChange">
        <div class="formButtons passChangeBtn">
          <button type="submit" class="btn btn-primary login">Send reset link</button>
        </div>
      </div>
    </form>
  </div>



{% endblock %}