<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(39, 41, 41);">
    <div class="container-lg">
      {% if session.logged_in %}
      <a class="navbar-brand" href="\fridge_view"><img src="../static/images/Fridge Logo.jpg"> <h4>FridgeMate</h4></a>
      {% else %}
      <a class="navbar-brand" href="\"><img src="../static/images/Fridge Logo.jpg"> <h4>FridgeMate</h4></a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span id="menuButton">Menu</span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <!-- Left Navbar -->
        <ul class="navbar-nav text-center">
          {% if session.logged_in %}
            {% if request.endpoint == "fridge_view" %}
                <li class="nav-item"><a class="nav-link disabled" id="fridge_view" aria-current="page" href="/fridge_view">View Fridge</a></li>          
              {% else %}
                <li class="nav-item"><a class="nav-link" id="fridge_view" aria-current="page" href="/fridge_view">View Fridge</a></li>          
              {% endif %}
          {% else %}
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>

            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          {% endif %}
            
        </ul> 
        <!-- Right Navbar -->
        <ul class="navbar-nav text-center">
          {% if session.logged_in %}

            {% if request.endpoint == "profile" %}
              <li class="nav-item"><a class="nav-link disabled" id="profile" href="/profile">Profile</a></li>  
              <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>   
            {% endif %}
            {% if request.endpoint == "fridge_view" or request.endpoint == "add_item" %}
              <li class="nav-item"><a class="nav-link" id="profile" href="/profile">Profile</a></li>  
              <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>   
            {% endif %}
         
          {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">Sign in</a> </li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>