/*****************************************************
    Default CSS fonts and other cross page CSS styling
*****************************************************/

h1{
    font-family: Helvetica; 
    font-size: 40px;
}

.disabled{
    pointer-events: none;
    cursor: default;
}

.alert{    
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    width: 300px
}

.submitPassChange{
    margin-top: 0;
    justify-content: center;
    display: flex;
}

.passChangeBtn{
    justify-content: center !important;
}

#passResetDesc{
    text-align: center;
    background-color: rgb(199, 199, 199);
    color: black;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    font-style: italic;
    margin-bottom: 0;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.bgColor{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(54, 54, 54);
    border-radius: 0 0 20px 20px;
}

.borderTopLeftRight{
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

/****************
    NAVBAR CSS
*****************/
.container-lg{
    max-width: 900px;
}

#navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* To account for navbar height */


.navbar-brand img{
    max-height: 60px;
}

.navbar-brand h4{
    display: inline-block;
}

#menuButton{
    font-size: 28px;
    color: white;
}

.navbar-toggler{
    padding: 7px 5px;
    background-color: rgb(102, 102, 102);
}

.navbar-toggler:focus{
    box-shadow: 0 0 5px 2px white;
}

/****************
    Welcome CSS
*****************/

#welcomeContainer{ 
    width: fit-content;
    background-color: black;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#backgroundFridge{ 
    display: inline-block;
    width: 100%;
    max-width: 640px;
    height: 143vw;
    max-height: 915px;
    min-height: 667px;
    background-image: url("../static/images/fridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0 auto;
}

.welcomeBlock{
    height: fit-content;
}

#block1{
    background-color: rgba(54,54,54,0.9);
    border: 2px solid white;
    color: white;
    border-radius: 40% 40% 0 0;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

#flex{
    margin-top: 10px;
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr;
}

.infoCell{
    background-color: rgba(54, 54, 54,0.9);
    padding:10px;
    color: white;
    border: 5px solid black;
}

.infoImage{
    background-color: black;
    padding:5px;
}

.infoCell p{
    margin-bottom: 0;
    margin-top: 10px;

}

.infoCell ul{
    list-style-position: inside;
}

.flexFridgeView{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid white;
}

.flexRows{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.hide-on-small-screen{
    display: none;
}

#next, #previous{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -45px;
    width: 120px;
}

#next div:first-child, #previous div:first-child{
    background-color: black;
    line-height: 40px;
    height: 40px;
    width: 120px;
    opacity: 1 !important;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#next div:nth-child(2), #previous div:nth-child(2){
    background-color: black;
    line-height: 40px;
    height: 40px;
    width: 120px;
    margin-bottom: -5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 100% !important;
}

#next div{
    border-radius: 0 40% 40% 0;
    border: 2px solid white;
}

#previous div{
    border-radius: 40% 0 0 40%;
    border: 2px solid white;
}

.margAuto{
    vertical-align: middle;
}

#sampleFrigeInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infoCell:nth-child(1){
    border-bottom: none;
}

@media only screen 
  and (min-device-width: 545px){

    #flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid white;
    }

    .flexFridgeView{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:0;
        margin-top: 10px;
    }

    .infoCell:nth-child(1){
        border-right: none;
        border-bottom: 5px solid black;
    }

    .hide-on-small-screen{
        display: block;
    }

    #next, #previous{
        align-items: flex-end;
        flex-direction: row;
        width: 120px;
        vertical-align: middle;
    }

    #next{
        margin-right: 10px;
    }

    #previous{
        margin-left: 10px;
    }

    #next div, #previous div{
        background-color: black;
        line-height: 40px;
        height: 40px;
        width: 120px;
        opacity: 100% !important;
    }

    #next div:first-child, #previous div:first-child{
        display: none;
    }


    .carousel-control-next, .carousel-control-prev{
        opacity:1;
    }

    #sampleFrigeInfo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #learnMoreContainer{
        margin-top: 0px !important;
        background-color: rgba(0,0,0,0.7) !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-top: 20px !important;
        border: 2px solid white;
        border-top: 0;
    }

    #learnMore{
        opacity: 1 !important;
    }

  }

.cellTitle{
    text-align: center;
    text-decoration: underline;
}

.iconPlacement{
    text-align: center;
    margin-bottom: 5px;
}

#sampleFridge{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.welcomeBlock h1{
    border-bottom: 3px dashed rgb(185, 185, 185);;
}

.welcomeBlock h6{
    font-style: italic;
}

#learnMore{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 20px;
    padding: 7px 10px;
    background-color: white;
    border-radius: 20px;
    opacity: 1 !important;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    border: 2px solid blue;
    color: blue;
}

#learnMore:hover{
    color: white;
    background-color: blue;
    border: 4px solid white;
}

#learnMore:focus{
    color: white;
    background-color: blue;
    border: 4px solid white;
}

#learnMoreContainer{
    margin-top: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: -5.56%;
    margin-left: -5.56%;
    text-align: center;
    background-color: rgb(0,0,0);
    border-radius: 0 0 20px 20px;
}

/****************
    Register Form CSS
*****************/

.form-group {
    margin-bottom: 1rem;
}
  
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#regBtn{
    margin-top: 10px;
}

/****************
    Dashboard CSS
*****************/
/* Mobile conditions */
.row{
    --bs-gutter-x:0;
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    #dashpanel{
        width:90vw;
        height: calc(60vw + 15px);
        max-height: calc(40vh + 15px);
    }

    #ftl{
        width: 47%;
        height: calc(100% - 10px);
        margin:0;
    }

    #tl{
        margin:auto;
        width: 100%;
        height: 100%;
    }
    
    #ftr{
        width: 47%;
        height: calc(100% - 10px);
        margin:0;
    }

    #tr{
        margin:auto;
        width: 100%;
        height: 100%;
    }
    
    #fbl{

        width: 47%;
        height: calc(100% - 10px);
        margin:0;
    }

    #bl{
        margin:auto;
        width: 100%;
        height: 100%;
    }
    
    #fbr{
        width: 47%;
        height: calc(100% - 10px);
        margin:0;
    }

    #br{
        margin:auto;
        width: 100%;
        height: 100%;
    }

    .row{
        height:50%;
    }
}

@media only screen 
  and (min-device-width: 813px){

    #dashpanel{
        width:90%;
        min-width:200px;
        max-width:700px;
    }

    #tl{
        margin-top:3px;
        margin-right:1.5px;
        width: 49%;
        height: 15vw;
        max-height: 30vh;
        min-height:20vh;
    }
    
    #tr{
        margin-top:3px;
        margin-left:1.5px;
        width: 49%;
    }
    
    #bl{
        margin-top:3px;
        margin-right:1.5px;
        width: 49%;
        height: 15vw;
        max-height: 30vh;
        min-height:20vh;
    }
    
    #br{
        margin-top:3px;
        margin-left:1.5px;
        width: 49%;
    }

}

/****************
    Profile CSS
*****************/

.title-margin{
    margin: 20px 0px;
    text-decoration: underline;
}

.profileBordered{
    border: 5px solid black;
    border-radius: 15px;
    margin-top: 20px;
    padding: 0px;
}

.profileContainer{
    background-color: rgb(54, 54, 54);
    max-width: 500px;
    min-width: 326px;
    margin: 0 auto;
}

#outerProfile{
    padding:0 15px;
}

#bottomProfile{
    border-radius:0 0 20px 20px;
}

#profileData{
    background-color: rgb(243, 221, 180);
    width: 90%;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
    display: inline-block;
    margin-bottom: 20px;
    border: 4px black;
    border-style: dotted;
}

#profileData span{
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    display: inline-block;
}

#editL{
    padding:2px 5px !important;
    margin-left: 6px;
    color: black;
    background-color: yellow;
}

#editR{
    padding:2px 8px !important;
    margin-right: 6px;
    background-color: rgb(78, 78, 245);
    color: black;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
}

.inputFieldProfile{
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0;
    transition: 0.3s;
}

.editProfileLabel{
    font-size: 20px;
    font-weight: 800;
}


#changePasswordClose{
    margin-right: 5px !important;
    margin-top: 5px;
}

.profileHeaders{
    text-align: right;
    padding-top: 10px;
    padding-bottom: none;
    font-weight: 700;

}

#profileNotice{
    text-align: center;
    margin-bottom: 0;
    font-size: 0.75rem;
    font-style: italic;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#profileData td{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: none;
  
}

#profileData tr{   
    font-family: Helvetica, sans-serif;
}

.infoIcon{
    border-radius: 50%;
    width:20px;
}

.profileTable{
    margin:0 auto;
}

.infoPopover{
    transition: 0.3s;
    border-left: 3px solid rgb(243, 221, 180);
}

.infoPopover:focus{
    border-radius: 50%;
    width:20px;
    height:20px;

    border-top: 3px solid rgba(80, 253, 0, 0.568);
    border-right: 3px solid rgba(80, 253, 0, 0.568);
    border-left: 3px solid rgba(80, 253, 0, 0.568);
    border-bottom: 5px solid rgba(80, 253, 0, 0.568);
    align-items: center;
}

.popover-header{
    text-align: center;
    background-color: #272929;
    color: white;
}

.popover-body{
    text-align: center;
}

#profileData h3{
    margin-bottom: 0;
    margin-top: 10px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    text-align: center;
    font-weight: 800;
}

.rangeIndicator{
    margin-bottom: 0;
}

.changePasswordLabel{
    font-size: 20px;
    font-weight: 800;
    color: aliceblue;
}

.inputFieldPass{
    margin-top: 0;
}

.resetPass{
    text-align: center;
}

/****************
    Login CSS
*****************/

.buttonsContainer{
    justify-content: center;
    display: flex;
    margin-top: 0;
}

.formButtons{
      justify-content: space-between;
      display: flex;
      width: 50%;
      max-width: 200px;
      margin-top: 15px;
      margin-bottom: 0px;
      margin-right: auto;
      margin-left: auto;     
}

.message{
    text-align: center;
    margin-bottom: 0px;
}

.login{
    border-color: black;
    border-width: 3px;
    border-radius: 20px;
}

.login:disabled{
    border-color: black;
    border-width: 3px;
    border-radius: 20px;
}

.register{
    border-color: black;
    border-width: 3px;
    border-radius: 20px;
}

.inputField{
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
    width: 80%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 15px;
    transition: 0.3s;
}

.form-group{
    margin-bottom: 0;
}

.inputField:focus{
    border-color: rgb(130, 218, 16);
}

.formTitleContainer{
    display: flex;
    background-color: rgb(54, 54, 54);
    justify-content: center;
    align-items: center;
    border-radius: 90% 90% 0 0;
    margin-top: 5px;
    max-width: 500px;
    min-width: 326px;
    margin-right: auto;
    margin-left: auto;
}

/* Actual sign-in header h1*/
.formTitle{
    padding-top: 20px;
    padding-bottom:10px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    color: white
}

.fridgeForm{
    background: rgb(54, 54, 54);
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 0 0 20px 20px;
    max-width: 500px;
    min-width: 326px;
    margin-right: auto;
    margin-left: auto;
}

#forgot{
    margin-bottom: 0px;
}

/*****************
    Fridgeview CSS
*****************/

.fridgeviewRows td{
    padding:5px 0px !important;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.checkboxCol{
    display: none;
    text-align: center;
}

.checkboxCol, .firstCol{
    border-left: 1px solid black;
}

.checkBox{
    height:20px;
    width:20px;
    vertical-align: middle;
    margin:0;
    border:1px solid black !important;
    border-radius: 50% !important;
}

table.dataTable.no-footer {
     border-bottom: 0px; 
}

.dt-buttons{
    display: flex;
    background-color: rgb(54, 54, 54);
    justify-content: center;
    align-items: center;
    float: none !important;
}

.dataTables_paginate{
    padding: 0 !important;
    float: none !important;
    text-align: center !important;
    justify-content: center !important;
}

.paginate_button{
    background-image: linear-gradient(to bottom, black 0%, rgb(209, 209, 209) 80%) !important;
    padding: 4px 16px !important;
    border: 1px solid black !important;
    color: black !important;
}

a.paginate_button{
    color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    color: black !important;

}

.paginate_button.next{
    border-radius: 0 10px 10px 0 !important;
    color: black !important;
}

.paginate_button.previous{
    border-radius: 10px 0 0 10px !important;
}

#fridgeContents_filter label{
    margin-left: auto;
    margin-right: auto;
}

.dataTables_filter{
    background-color: rgb(54, 54, 54);
    justify-content: center !important;
    align-items: center;
    margin-top: 0 !important;
    float: none !important;
    text-align: center !important;
}

.dataTables_wrapper .dataTables_filter input{
    opacity: 100%;
    text-align: center;
    color: rgb(61, 61, 61);
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.3s;
    font-family: Helvetica; 
    font-weight: 800;
    float: none !important;
}

.firstCol{
    font-weight: 700;
    font-family: Helvetica; 
}

.daysLeft{
    font-weight: 900;
    font-size: 20px;
    border-right: 0 !important;
}

.dataTables_wrapper .dataTables_filter input:focus{
    border-color: rgb(130, 218, 16);
}

#fridgeContents{
    box-shadow: 0px -3px 3px 0px rgb(105, 105, 105);
    border-collapse: collapse;
    width: 99% !important;
    max-width: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


#fridgeContents_wrapper{
    background-color: rgb(54, 54, 54);
    border-radius: 0 0 20px 20px;
    padding-bottom: 10px;
    max-width: 500px;
    margin: 0 auto;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#fridgeContents thead tr{
    opacity: 100%;
    color: white;
}

.dataTables_wrapper .dataTables_info{
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    float: none !important;
    text-align: center;
}

.dataTables_empty{
    background-color: rgb(54, 54, 54);
    color: white;
}

table.dataTable thead th{
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

#fridgeContents tbody::before{
    height: 10px;
    content: "@";
    display: block;
    text-indent:-99999px;
}

#fridgeContents tbody{
    margin-top: 5px;
}

.firstCol{
    border-left: 0 !important;
}

.firstCol, .expDateCol, .checkboxCol{
    background-color: rgb(243, 221, 180);
}

/*****************
    Add Item CSS
*****************/

.centerForm{
    text-align: center;
}

#autocomplete{
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    transition: 0.25s;
    font-weight: 900;
    color: black !important;
    width: 80%;
    margin-right: auto; 
    margin-left: auto;
}

#autocomplete:focus{
    border-color: rgb(38, 0, 255);
    box-shadow: 0 0 7px black;
}

#autocomplete::placeholder{
    color: black !important;
    font-weight: 900;
    
}

#or{
    display: inline-block;
    margin: 6px 0 16px 0;
    padding: 3px 0;
    text-align: center;
    border-top: 4px dashed white;
    border-bottom: 4px dashed white;
    width: 150px;
    color: white;
}

.container{
    font-family: Helvetica, sans-serif;
}

.addItemBlocks{
    text-align: center;
    margin-top: 15px;
}

.accordion-body{
    border: 3px solid black !important;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    background-color: blanchedalmond;
    padding-top: 0px;
}

.accordion-item{
    background-color: rgb(54, 54, 54);
    border:0 !important;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-button.collapsed{
    border: 3px solid black;
    border-radius: 10px !important;
    background-color: grey;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.accordion-button.collapsed:focus{
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    color: black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-radius: 10px 10px 0 0 !important;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #80ff82, #735dff);
    display: flex;
    justify-content: center;
}


.accordion-button{
    justify-content: center;
}

.addProductButtonText{
    display: block;
    font-weight: 900;
}

.accordion-button::after{
    content: none;
}

.accordion-header{
    background-color: rgb(54, 54, 54);
}

#addItemContainer{
    background-color: rgb(54, 54, 54);
    font-family: Helvetica, sans-serif;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    max-width: 500px;
    min-width: 326px;
    margin: 0 auto;
}

input[type="date"]{
    line-height: 32px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    max-width: 175px;
    border: 3px solid black;
    border-radius: 10px;
}

.expiryLabel{
    font-weight: 800;
    font-size: 16px;
}

#previousEntries{
    width: fit-content;
    display: inline-block;
    border-radius: 20px !important;
    border: 2px solid black !important;
    font-size: 18px;
    font-weight: 700;
}

.btn.btn-dark:active{
    background-color: rgb(105, 105, 105);
    box-shadow: 0 0 10px black;
}

.modal-content{
    border-radius: 60% 60% 25px 25px;
}

.modal-header{
    padding: 8px 16px;
    border: 3px solid white;
    border-radius: 90% 90% 0 0 !important;
    background-color: rgb(54, 54, 54);
}

.modal-title{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 30px;
    font-weight: 800;
    border-bottom: 3px dashed white;
}

.btn-close{
    background: white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
    color: white !important;
    margin-right: 20px !important;
    opacity: 1;
    border: 3px solid black;
    border-radius: 10px;
}

.modal-body{
    background-color: rgb(105, 105, 105);
    color: black;
    text-align: center;
    border-right: 3px solid white;
    border-left: 3px solid white;
    padding: 16px 8px;
}

.modal-footer{
    background-color: rgb(54, 54, 54);
    border: 3px solid white;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

.add-item-btn{
    border: 3px solid black;
    border-radius: 20px;
    font-weight: 700;
    color: black;
}

.lead{
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 24px;
}

/*****************
    Email CSS
    (if working)
*****************/
.emailLogo img{
    max-height: 70px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgb(43, 43, 43);
}

.emailLogo h1{
    margin:0;
    padding: 0;
    display: inline;
    vertical-align: middle;
    color: white;
    font-size: 50px;
}

.emailLogo{
    text-decoration: none;
}

.header-bar{
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
}

