{% extends 'layout.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Welcome {{ session.username }}</h1>
        <h2><small class="lead">Here's your dashboard</small></h2> 
    </div>
    

    <br>
    <div class="container bg-dark" id="dashpanel">
        
            <div class="row justify-content-center">
                <form action="/fridge_view" method="get" id="ftl">
                    <button class="btn btn-primary" id="tl" name="fridgeView">Fridge View</button>
                </form>
                <form action="#" method="get" id="ftr">
                    <button class="btn btn-primary" id="tr" name="About">About</button>
                </form>
            </div>
            
            <div class="row justify-content-center">
                <form action="/add_item" method="get" id="fbl">
                    <button class="btn btn-primary"  name="addItem" id="bl">Add Items</button>
                </form>
                <form action="#" method="get" id="fbr">
                    <button class="btn btn-primary" id="br" name="removeItem">Remove Items</button>
                </form>
            </div>
        
    </div>

{% endblock %}