{% extends 'layout.html' %}

{% block head %}
<title>Password-Reset</title>
{% endblock %}

{% block body %}
  
<h1>Password Reset</h1>
<p class="text-center">Enter the email associated with the account to reset the forgotten password.</p>
  <form action="/forgotPass" method="POST">
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="form-control">
    </div>
      
    <div class="form-group buttonsContainer">
      <div class="formButtons justify-content-center">
        <button type="submit" class="btn btn-primary">Send reset link</button>
      </div>
    </div>
  </form>

{% endblock %}