{% extends 'layout.html' %}

{% block head %}
<title>Password Reset</title>
{% endblock %}

{% block body %}
  
<h1>Reset Password</h1>
<form action="{{url_for('reset_password', token=token)}}" method='POST'>
    
    <div class="form-group">
        <label>New password</label>
        <input type="password" class="form-control" name="newPass">
    </div>
    <div class="form-group">
        <label>Confirm new password</label>
        <input type="password" class="form-control" name="confirmNewPass">
    </div>

    <div>
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update Password</button>
    </div>

</form>

{% endblock %}