{% extends 'layout.html' %}

{% block head %}
<title>Sign-in</title>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('.alert').fadeOut(400)
    }, 5000);
  })
</script>

{% endblock %}

{% block body %}
<div class="formTitleContainer">
    <h1 class="formTitle">Sign-in</h1>
</div>

<form action="/login" method="POST" class="fridgeForm">

  <div class="form-group">
    <input type="text" placeholder="Username" name="username" class="form-control inputField" value={{request.form.username}}>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" name="password" class="form-control inputField" value={{request.form.password}}>
  </div>
  
  <div class="form-group buttonsContainer">
    <div class="formButtons">
      <button type="submit" class="btn btn-primary login">Login</button>
      <a href="/register"><button type="button"class="btn btn-warning register">Register</button></a>
    </div>
  </div>

  <div class="form-group buttonsContainer">
    <div class="formButtons justify-content-center">
      <a href="/forgotPass"><p id="forgot">Forgot password?</p></a>
    </div>
  </div>

</form>

{% endblock %}