{% extends 'layout.html' %}

{% block head %}
<title>Password Reset</title>

<script type="text/javascript">
    $(function(){
        $("#newPassSubmitBtn").prop('disabled', true);
        $("#confirmNewPassReset").keyup(function(){
            if($(this).val().length >= 5){    
                if($(this).val() == $("#newPassReset").val()){
                    $("#passwordVerify").text("Passwords match.");
                    $("#passwordVerify").css("color", "green");
                    $("#newPassSubmitBtn").prop('disabled', false);
                }else{
                    $("#passwordVerify").text("Passwords do not match.");
                    $("#passwordVerify").css("color", "red");
                    $("#newPassSubmitBtn").prop('disabled', true);
                }
            }else{
                $("#passwordVerify").text("Password must be 5 characters minimum");
                $("#passwordVerify").css("color", "red");
                $("#newPassSubmitBtn").prop('disabled', true);
            }
        });
        $("#newPassReset").keyup(function(){
            if($(this).val().length >= 5){ 
                if($(this).val() == $("#confirmNewPassReset").val()){
                    $("#passwordVerify").text("Passwords match.");
                    $("#passwordVerify").css("color", "green");
                    $("#newPassSubmitBtn").prop('disabled', false);
                    
                }else{
                    $("#passwordVerify").text("Passwords do not match.");
                    $("#passwordVerify").css("color", "red");
                    $("#newPassSubmitBtn").prop('disabled', true);
                }
            }else{
                $("#passwordVerify").text("Password must be 5 characters minimum");
                $("#passwordVerify").css("color", "red");
                $("#newPassSubmitBtn").prop('disabled', true);
            }
        });
    });

    $(document).ready(function(){
        setTimeout(function(){
            $('.alert').fadeOut(400)
        }, 5000);
    })
</script>
{% endblock %}

{% block body %}
<div class="formTitleContainer">
    <h1 class="formTitle">Reset Password</h1>
</div>

<form action="{{url_for('reset_password', token=token)}}" method='POST' class="fridgeForm">
    
    <div class="form-group resetPass">
        <label class="changePasswordLabel">New password</label>
        <input type="password" class="form-control inputFieldProfile" id="newPassReset" name="newPass">
    </div>
    <div class="form-group resetPass">
        <label class="changePasswordLabel">Confirm new password</label>
        <input type="password" class="form-control inputFieldProfile" id="confirmNewPassReset" name="confirmNewPass">
    </div>
    <p id="passwordVerify" class="message"></p>
    <div>
        {% if error %}
            <p class="text-danger text-center">{{ error }}</p>
        {% endif %}
    </div>
    <div class="form-group submitPassChange">
        <div class="formButtons passChangeBtn">
            <button type="submit" id="newPassSubmitBtn" class="btn btn-primary login">Update Password</button>
        </div>
    </div>

</form>

{% endblock %}